/* Badge */
.badge {
    margin: .2rem;
    padding: var(--badge-padding-md);
    border-radius: var(--border-radius);
    white-space: nowrap;
    display: inline-flex;

    &.badge-sm {
        padding: var(--badge-padding-sm);
    }

    &.badge-md {
        padding: var(--badge-padding-md);
    }

    &.badge-lg {
        padding: var(--badge-padding-lg);
    }

    &.badge-pill {
        border-radius: 10rem;
    }

    &.badge-primary {
        background-color: var(--primary-color);
        color: var(--text-light);
    }

    &.badge-outline-primary {
        background-color: var(--transparent);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    &.badge-secondary {
        background-color: var(--secondary-color);
        color: var(--text-light);
    }

    &.badge-outline-secondary {
        background-color: var(--transparent);
        border: 1px solid var(--secondary-color);
        color: var(--secondary-color);
    }

    &.badge-success {
        background-color: var(--success-color);
        color: var(--text-light);
    }

    &.badge-outline-success {
        background-color: var(--transparent);
        border: 1px solid var(--success-color);
        color: var(--success-color);
    }

    &.badge-info {
        background-color: var(--info-color);
        color: var(--text-light);
    }

    &.badge-outline-info {
        background-color: var(--transparent);
        border: 1px solid var(--info-color);
        color: var(--info-color);
    }

    &.badge-warning {
        background-color: var(--warning-color);
        color: var(--text-light);
    }

    &.badge-outline-warning {
        background-color: var(--transparent);
        border: 1px solid var(--warning-color);
        color: var(--warning-color);
    }

    &.badge-danger {
        background-color: var(--danger-color);
        color: var(--text-light);
    }

    &.badge-outline-danger {
        background-color: var(--transparent);
        border: 1px solid var(--danger-color);
        color: var(--danger-color);
    }

    &.badge-neutral {
        background-color: var(--neutral-color);
        color: var(--text-dark);
    }

    &.badge-outline-neutral {
        background-color: var(--transparent);
        border: 1px solid var(--neutral-color);
        color: var(--neutral-color);
    }

    &.badge-light {
        background-color: var(--light-color);
        color: var(--text-dark);
    }

    &.badge-outline-light {
        background-color: var(--transparent);
        border: 1px solid var(--light-color);
        color: var(--light-color);
    }

    &.badge-dark {
        background-color: var(--dark-color);
        color: var(--text-light);
    }

    &.badge-outline-dark {
        background-color: var(--transparent);
        border: 1px solid var(--dark-color);
        color: var(--dark-color);
    }
}

/* Badge Hover */
a.badge {

    &.badge-primary:hover {
        background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-primary:hover {
        background-color: var(--primary-color);
        color: var(--text-light);
    }

    &.badge-secondary:hover {
        background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-secondary:hover {
        background-color: var(--secondary-color);
        color: var(--text-light);
    }

    &.badge-success:hover {
        background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-success:hover {
        background-color: var(--success-color);
        color: var(--text-light);
    }

    &.badge-info:hover {
        background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-info:hover {
        background-color: var(--info-color);
        color: var(--text-light);
    }

    &.badge-warning:hover {
        background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-warning:hover {
        background-color: var(--warning-color);
        color: var(--text-light);
    }

    &.badge-danger:hover {
        background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-danger:hover {
        background-color: var(--danger-color);
        color: var(--text-light);
    }

    &.badge-neutral:hover {
        background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-neutral:hover {
        background-color: var(--neutral-color);
        color: var(--text-dark);
    }

    &.badge-light:hover {
        background-color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-light:hover {
        background-color: var(--light-color);
        color: var(--text-dark);
    }

    &.badge-dark:hover {
        background-color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-dark));
    }

    &.badge-outline-dark:hover {
        background-color: var(--dark-color);
        color: var(--text-light);
    }
}