/* Badge */
.badge {
    margin: .2rem;
    padding: .4rem .8rem;
    border-radius: var(--border-radius);
    white-space: nowrap;
    display: inline-flex;
    gap: 0.5rem;


    &.badge-primary {
        background-color: var(--primary-color);
        color: var(--text-light);
    }

    &.badge-secondary {
        background-color: var(--secondary-color);
        color: var(--text-light);
    }

    &.badge-success {
        background-color: var(--success-color);
        color: var(--text-light);
    }

    &.badge-info {
        background-color: var(--info-color);
        color: var(--text-light);
    }

    &.badge-warning {
        background-color: var(--warning-color);
        color: var(--text-light);
    }

    &.badge-danger {
        background-color: var(--danger-color);
        color: var(--text-light);
    }

    &.badge-neutral {
        background-color: var(--neutral-color);
        color: var(--text-dark);
    }
}

/* Badge Hover */
a.badge {

    &.badge-primary:hover {
        background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
    }

    &.badge-secondary:hover {
        background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
    }

    &.badge-success:hover {
        background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
    }

    &.badge-info:hover {
        background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
    }

    &.badge-warning:hover {
        background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
    }

    &.badge-danger:hover {
        background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
    }

    &.badge-neutral:hover {
        background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
    }
}