button,
.btn {
    margin: .15rem;
    display: inline-block;
    width: fit-content;
    border-radius: var(--border-radius);
    border: none;
    padding: var(--button-padding-md);
    cursor: pointer;
    background-color: var(--button-color);
    text-wrap: nowrap;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.btn-sm {
        padding: var(--button-padding-sm);
    }

    &.btn-md {
        padding: var(--button-padding-md);
    }

    &.btn-lg {
        padding: var(--button-padding-lg);
    }

    &.btn-pill {
        border-radius: 10rem;
    }
}

[data-btn-theme] {
    cursor: pointer;
}