.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-base);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);

    .card-header {
        padding: 0.5rem 1rem;
    }

    .card-body {
        padding: 1rem;
    }

    .card-footer {
        padding: 0.5rem 1rem;
        background-color: var(--card-footer-color);
        font-style: italic;
    }
}

card-element {
    display: contents;
}
