.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border-color-light);
    border-radius: var(--border-radius);


    &.card-bordered {
        border: 1px solid var(--border-color-light);

        .card-header {
            border: none;
        }

        .card-body {
            border-top: 1px solid var(--border-color-light);
            border-bottom: 1px solid var(--border-color-light);
        }

        .card-footer {
            border: none;
        }
    }

    .card-header {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        padding: 0.5rem 1rem;
    }

    .card-body {
        padding: 1rem;
    }

    .card-footer {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        padding: 0.5rem 1rem;
        font-style: italic;
    }
}

card-element {
    display: contents;
}
