/* Background */
.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-success {
    background-color: var(--success-color);
}

.bg-info {
    background-color: var(--info-color);
}

.bg-warning {
    background-color: var(--warning-color);
}

.bg-danger {
    background-color: var(--danger-color);
}

.bg-neutral {
    background-color: var(--neutral-color);
}

/* Text */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-success {
    color: var(--success-color);
}

.text-info {
    color: var(--info-color);
}

.text-warning {
    color: var(--warning-color);
}

.text-danger {
    color: var(--danger-color);
}

.text-neutral {
    color: var(--neutral-color);
}

.text-light {
    color: var(--text-light);
}

.text-dark {
    color: var(--text-dark);
}