/* Background */
.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-success {
    background-color: var(--success-color) !important;
}

.bg-tertiary {
    background-color: var(--tertiary-color) !important;
}

.bg-danger {
    background-color: var(--danger-color) !important;
}

.bg-warning {
    background-color: var(--warning-color) !important;
}

.bg-info {
    background-color: var(--info-color) !important;
}

.bg-light {
    background-color: var(--light-color) !important;
}

.bg-dark {
    background-color: var(--dark-color) !important;
}

.bg-neutral {
    background-color: var(--neutral-color) !important;
}

.bg-transparent {
    background-color: var(--transparent) !important;
}

.bg-white {
    background-color: var(--gray-0) !important;
}

.bg-black {
    background-color: var(--gray-1000) !important;
}

.bg-surface-footer {
    background-color: var(--surface-footer-color) !important;
}

.bg-transparent-theme {
    background-color: var(--transparent-theme) !important;
}

/*.bg-transparent-theme-reverse {*/
/*    background-color: var(--transparent-theme-reverse) !important;*/
/*}*/

.bg-transparent-white {
    background-color: var(--transparent-white) !important;
}

.bg-transparent-black {
    background-color: var(--transparent-black) !important;
}

.bg-code-theme {
    background-color: var(--bg-color-code) !important;
}

.border-color-primary {
    border-color: var(--primary-color) !important;
}

.border-color-secondary {
    border-color: var(--secondary-color) !important;
}

.border-color-tertiary {
    border-color: var(--tertiary-color) !important;
}

.border-color-success {
    border-color: var(--success-color) !important;
}

.border-color-info {
    border-color: var(--info-color) !important;
}

.border-color-warning {
    border-color: var(--warning-color) !important;
}

.border-color-danger {
    border-color: var(--danger-color) !important;
}

.border-color-neutral {
    border-color: var(--neutral-color) !important;
}

.border-color-light {
    border-color: var(--light-color) !important;
}

.border-color-dark {
    border-color: var(--dark-color) !important;
}

.light-border-color {
    border-color: var(--border-color-light) !important;
}

.medium-border-color {
    border-color: var(--border-color-medium) !important;
}

.dark-border-color {
    border-color: var(--border-color-dark) !important;
}

.border-primary {
    border: 1px solid var(--primary-color) !important;
}

.border-secondary {
    border: 1px solid var(--secondary-color) !important;
}

.border-tertiary {
    border: 1px solid var(--tertiary-color) !important;
}

.border-success {
    border: 1px solid var(--success-color) !important;
}

.border-info {
    border: 1px solid var(--info-color) !important;
}

.border-warning {
    border: 1px solid var(--warning-color) !important;
}

.border-danger {
    border: 1px solid var(--danger-color) !important;
}

.border-neutral {
    border: 1px solid var(--neutral-color) !important;
}

.border-light {
    border: 1px solid var(--light-color) !important;
}

.border-dark {
    border: 1px solid var(--dark-color) !important;
}

.light-border {
    border: 1px solid var(--border-color-light) !important;
}

.medium-border {
    border: 1px solid var(--border-color-medium) !important;
}

.dark-border {
    border: 1px solid var(--border-color-dark) !important;
}

/* Text */
.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.text-tertiary {
    color: var(--tertiary-color) !important;
}

.text-success {
    color: var(--success-color) !important;
}

.text-info {
    color: var(--info-color) !important;
}

.text-warning {
    color: var(--warning-color) !important;
}

.text-danger {
    color: var(--danger-color) !important;
}

.text-neutral {
    color: var(--neutral-color) !important;
}

.text-light {
    color: var(--light-color) !important;
}

.text-dark {
    color: var(--dark-color) !important;
}

.text-white {
    color: var(--text-white) !important;
}

.text-black {
    color: var(--text-black) !important;
}

.primary-fill {
    color: var(--text-dark);
}

.secondary-fill {
    color: var(--text-dark);
}

.tertiary-fill {
    color: var(--text-dark);
}

.success-fill {
    color: var(--text-dark);
}

.info-fill {
    color: var(--text-dark);
}

.warning-fill {
    color: var(--text-dark);
}

.danger-fill {
    color: var(--text-dark);
}

.neutral-fill {
    color: var(--text-dark);
}

.light-fill {
    color: var(--text-dark);
}

.dark-fill {
    color: var(--text-light);
}


.bg-primary-fill {
    background-color: var(--primary-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-secondary-fill {
    background-color: var(--secondary-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-tertiary-fill {
    background-color: var(--tertiary-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-success-fill {
    background-color: var(--success-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-info-fill {
    background-color: var(--info-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-warning-fill {
    background-color: var(--warning-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-danger-fill {
    background-color: var(--danger-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-neutral-fill {
    background-color: var(--neutral-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-light-fill {
    background-color: var(--light-color);
    color: var(--text-dark);

    * {
        color: var(--text-dark);
    }
}

.bg-dark-fill {
    background-color: var(--dark-color);
    color: var(--text-light);

    & * {
        color: var(--text-light);
    }
}

.bg-white-fill {
    background-color: var(--gray-0);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.bg-black-fill {
    background-color: var(--gray-1000);
    color: var(--text-light);

    & * {
        color: var(--text-light);
    }
}

.bg-surface-footer-fill {
    background-color: var(--surface-footer-color);
    color: var(--text-dark);

    & * {
        color: var(--text-dark);
    }
}

.badge-primary,
.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-secondary,
.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-tertiary,
.btn-tertiary {
    background-color: var(--tertiary-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-success,
.btn-success {
    background-color: var(--success-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-info,
.btn-info {
    background-color: var(--info-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-warning,
.btn-warning {
    background-color: var(--warning-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-danger,
.btn-danger {
    background-color: var(--danger-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-neutral,
.btn-neutral {
    background-color: var(--neutral-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-light,
.btn-light {
    background-color: var(--light-color);
    color: var(--text-dark);

    &.active {
        background-color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }
}

.badge-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: var(--text-light);

    &.active {
        background-color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-dark));
        color: var(--text-light);
    }
}

.outline-primary,
.badge-outline-primary,
.btn-outline-primary {
    background-color: var(--transparent);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    &.active {
        background-color: var(--primary-color);
        color: var(--text-light);
    }
}

.outline-secondary,
.badge-outline-secondary,
.btn-outline-secondary {
    background-color: var(--transparent);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);

    &.active {
        background-color: var(--secondary-color);
        color: var(--text-dark);
    }

}

.outline-tertiary,
.badge-outline-tertiary,
.btn-outline-tertiary {
    background-color: var(--transparent);
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);

    &.active {
        background-color: var(--tertiary-color);
        color: var(--text-dark);
    }
}

.outline-success,
.badge-outline-success,
.btn-outline-success {
    background-color: var(--transparent);
    border: 1px solid var(--success-color);
    color: var(--success-color);

    &.active {
        background-color: var(--success-color);
        color: var(--text-dark);
    }
}

.outline-info,
.badge-outline-info,
.btn-outline-info {
    background-color: var(--transparent);
    border: 1px solid var(--info-color);
    color: var(--info-color);

    &.active {
        background-color: var(--info-color);
        color: var(--text-dark);
    }
}

.outline-warning,
.badge-outline-warning,
.btn-outline-warning {
    background-color: var(--transparent);
    border: 1px solid var(--warning-color);
    color: var(--warning-color);

    &.active {
        background-color: var(--warning-color);
        color: var(--text-dark);
    }
}

.outline-danger,
.badge-outline-danger,
.btn-outline-danger {
    background-color: var(--transparent);
    border: 1px solid var(--danger-color);
    color: var(--danger-color);

    &.active {
        background-color: var(--danger-color);
        color: var(--text-dark);
    }
}

.outline-neutral,
.badge-outline-neutral,
.btn-outline-neutral {
    background-color: var(--transparent);
    border: 1px solid var(--neutral-color);
    color: var(--neutral-color);

    &.active {
        background-color: var(--neutral-color);
        color: var(--text-dark);
    }
}

.outline-light,
.badge-outline-light,
.btn-outline-light {
    background-color: var(--transparent);
    border: 1px solid var(--light-color);
    color: var(--light-color);

    &.active {
        background-color: var(--light-color);
        color: var(--text-dark);
    }
}

.outline-dark,
.badge-outline-dark,
.btn-outline-dark {
    background-color: var(--transparent);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);

    &.active {
        background-color: var(--dark-color);
        color: var(--text-light);
    }
}


a,
button,
.btn {

    &.bg-primary:hover,
    &.badge-primary:hover,
    &.btn-primary:hover {
        background-color: color-mix(in srgb, var(--primary-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-secondary:hover,
    &.badge-secondary:hover,
    &.btn-secondary:hover {
        background-color: color-mix(in srgb, var(--secondary-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-tertiary:hover,
    &.badge-tertiary:hover,
    &.btn-tertiary:hover {
        background-color: color-mix(in srgb, var(--tertiary-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-success:hover,
    &.badge-success:hover,
    &.btn-success:hover {
        background-color: color-mix(in srgb, var(--success-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-info:hover,
    &.badge-info:hover,
    &.btn-info:hover {
        background-color: color-mix(in srgb, var(--info-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-warning:hover,
    &.badge-warning:hover,
    &.btn-warning:hover {
        background-color: color-mix(in srgb, var(--warning-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-danger:hover,
    &.badge-danger:hover,
    &.btn-danger:hover {
        background-color: color-mix(in srgb, var(--danger-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-neutral:hover,
    &.badge-neutral:hover,
    &.btn-neutral:hover {
        background-color: color-mix(in srgb, var(--neutral-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-light:hover,
    &.badge-light:hover,
    &.btn-light:hover {
        background-color: color-mix(in srgb, var(--light-color) 75%, var(--color-mix-dark));
        color: var(--text-dark);
    }

    &.bg-dark:hover,
    &.badge-dark:hover,
    &.btn-dark:hover {
        background-color: color-mix(in srgb, var(--dark-color) 75%, var(--color-mix-dark));
        color: var(--text-light);
    }

    &.outline-primary:hover,
    &.badge-outline-primary:hover,
    &.btn-outline-primary:hover {
        background-color: var(--primary-color);
        color: var(--text-light);
    }

    &.outline-secondary:hover,
    &.badge-outline-secondary:hover,
    &.btn-outline-secondary:hover {
        background-color: var(--secondary-color);
        color: var(--text-dark);
    }

    &.outline-tertiary:hover,
    &.badge-outline-tertiary:hover,
    &.btn-outline-tertiary:hover {
        background-color: var(--tertiary-color);
        color: var(--text-dark);
    }

    &.outline-success:hover,
    &.badge-outline-success:hover,
    &.btn-outline-success:hover {
        background-color: var(--success-color);
        color: var(--text-dark);
    }

    &.outline-info:hover,
    &.badge-outline-info:hover,
    &.btn-outline-info:hover {
        background-color: var(--info-color);
        color: var(--text-dark);
    }

    &.outline-warning:hover,
    &.badge-outline-warning:hover,
    &.btn-outline-warning:hover {
        background-color: var(--warning-color);
        color: var(--text-dark);
    }

    &.outline-danger:hover,
    &.badge-outline-danger:hover,
    &.btn-outline-danger:hover {
        background-color: var(--danger-color);
        color: var(--text-dark);
    }

    &.outline-neutral:hover,
    &.badge-outline-neutral:hover,
    &.btn-outline-neutral:hover {
        background-color: var(--neutral-color);
        color: var(--text-dark);
    }

    &.outline-light:hover,
    &.badge-outline-light:hover,
    &.btn-outline-light:hover {
        background-color: var(--light-color);
        color: var(--text-dark);
    }

    &.outline-dark:hover,
    &.badge-outline-dark:hover,
    &.btn-outline-dark:hover {
        background-color: var(--dark-color);
        color: var(--text-light);
    }
}

table.table-primary,
thead.table-primary,
tbody.table-primary,
tfoot.table-primary {
    background-color: var(--table-primary-color);
}

table.table-secondary,
thead.table-secondary,
tbody.table-secondary,
tfoot.table-secondary {
    background-color: var(--table-secondary-color);
}

table.table-tertiary,
thead.table-tertiary,
tbody.table-tertiary,
tfoot.table-tertiary {
    background-color: var(--table-tertiary-color);
}

table.table-success,
thead.table-success,
tbody.table-success,
tfoot.table-success {
    background-color: var(--table-success-color);
}

table.table-info,
thead.table-info,
tbody.table-info,
tfoot.table-info {
    background-color: var(--table-info-color);
}

table.table-warning,
thead.table-warning,
tbody.table-warning,
tfoot.table-warning {
    background-color: var(--table-warning-color);
}

table.table-danger,
thead.table-danger,
tbody.table-danger,
tfoot.table-danger {
    background-color: var(--table-danger-color);
}

table.table-neutral,
thead.table-neutral,
tbody.table-neutral,
tfoot.table-neutral {
    background-color: var(--table-neutral-color);
}

table.table-dark,
thead.table-dark,
tbody.table-dark,
tfoot.table-dark {
    background-color: var(--table-dark-color);
}

table.table-light,
thead.table-light,
tbody.table-light,
tfoot.table-light {
    background-color: var(--table-light-color);

    & * {
        color: var(--text-dark);
    }
}