.dropdown-btn {
    justify-content: space-between;
    align-items: center;
}


[data-arrow] {
    display: inline-block;
    margin-left: 0.5rem;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 0.4em solid var(--transparent);
    border-right: 0.4em solid var(--transparent);
    border-top: 0.4em solid currentColor;
    transition: transform 0.3s ease;

    &[data-arrow="up"] {
        transform: rotate(0deg);
    }

    &[data-arrow="down"] {
        transform: rotate(-180deg);
    }

}


.dropdown-button-wrapper-fit {
    width: min-content;
}

.dropdown-button-wrapper {
    width: 100%;
}

.dropdown-button-wrapper-fit,
.dropdown-button-wrapper {
    position: relative;
    display: inline-block;
    justify-content: center;


    .dropdown-content {
        position: absolute;
        background-color: var(--bg-color);
    }

    .dropdown-content,
    .dropdown-content-push {
        width: 100%;
        border-radius: var(--border-radius);
        overflow: hidden;
        text-align: left;
        top: auto;
        left: 0;
        z-index: 100;
        height: 0;


        &[data-expanded="true"] {
            height: auto;
            border: 1px solid var(--border-color-whisper);
        }

        &[data-expanded="false"] {
            height: 0;
            border: none;
        }

        ul {
            list-style: none;
            margin: 0;
        }
    }
}

.dropdown-menu-wrapper {
    width: fit-content;
    float: left;
    overflow: hidden;


    &:hover .dropdown-content {
        opacity: 1;
        visibility: visible;
    }

    &:hover [data-arrow] {
        transform: rotate(-180deg);
    }

    .dropdown-content {
        -webkit-animation: fadeEffect 0.3s;
        animation: fadeEffect 0.3s;
        transition: 0.3s ease;
        margin-top: -0.15rem;
        background-color: var(--bg-color);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 200;

        .dropdown-header {
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            padding: 0.5rem 1rem;
        }

        .dropdown-body {
            border: 1px solid var(--border-color-light);
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            color: var(--text-color);
            padding: 1rem;
        }
    }
}