.container-code {
    border: 1px solid var(--border-color-whisper);
    border-radius: var(--border-radius);
    background-color: var(--bg-color-code);
    position: relative;
}

.highlight-tag {
    color: var(--highlight-tag-color);
}

.highlight-tag-name {
    color: var(--highlight-tag-name-color);
}

.highlight-attribute-name {
    color: var(--highlight-attribute-name-color);
}

.highlight-attribute-value {
    color: var(--highlight-attribute-value-color);
}

.highlight-text {
    color: var(--highlight-text-color);
}

.highlight-comment {
    color: var(--highlight-comment-color);
}

.highlight-equal-sign {
    color: var(--highlight-equal-sign-color);
}

.highlight-text {
    color: var(--highlight-text-color);
}