.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.align-content-start {
    align-content: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}


.row {
    display: flex;
    flex-wrap: wrap;


    [class^="col-"] {
        width: 100%;
        padding: .5rem;
        border-radius: var(--border-radius);
    }

    .col {
        flex: 1 1 0;
        max-width: 100%;
        border-radius: var(--border-radius);
    }

    /* row-cols-1 à row-cols-6 (mobile-first) */
    &.row-cols-1 > .col { width: 100%; flex: none; }
    &.row-cols-2 > .col { width: 50%; flex: none; }
    &.row-cols-3 > .col { width: 33.3333%; flex: none; }
    &.row-cols-4 > .col { width: 25%; flex: none; }
    &.row-cols-5 > .col { width: 20%; flex: none; }
    &.row-cols-6 > .col { width: 16.6667%; flex: none; }

    /* breakpoints : sm, md, lg, xl */
    @container body (min-width: 576px) {
        &.row-cols-sm-1 > .col { width: 100%; flex: none; }
        &.row-cols-sm-2 > .col { width: 50%; flex: none; }
        &.row-cols-sm-3 > .col { width: 33.3333%; flex: none; }
        &.row-cols-sm-4 > .col { width: 25%; flex: none; }
        &.row-cols-sm-5 > .col { width: 20%; flex: none; }
        &.row-cols-sm-6 > .col { width: 16.6667%; flex: none; }
    }

    @container body (min-width: 768px) {
        &.row-cols-md-1 > .col { width: 100%; flex: none; }
        &.row-cols-md-2 > .col { width: 50%; flex: none; }
        &.row-cols-md-3 > .col { width: 33.3333%; flex: none; }
        &.row-cols-md-4 > .col { width: 25%; flex: none; }
        &.row-cols-md-5 > .col { width: 20%; flex: none; }
        &.row-cols-md-6 > .col { width: 16.6667%; flex: none; }
    }

    @container body (min-width: 992px) {
        &.row-cols-lg-1 > .col { width: 100%; flex: none; }
        &.row-cols-lg-2 > .col { width: 50%; flex: none; }
        &.row-cols-lg-3 > .col { width: 33.3333%; flex: none; }
        &.row-cols-lg-4 > .col { width: 25%; flex: none; }
        &.row-cols-lg-5 > .col { width: 20%; flex: none; }
        &.row-cols-lg-6 > .col { width: 16.6667%; flex: none; }
    }

    @container body (min-width: 1200px) {
        &.row-cols-xl-1 > .col { width: 100%; flex: none; }
        &.row-cols-xl-2 > .col { width: 50%; flex: none; }
        &.row-cols-xl-3 > .col { width: 33.3333%; flex: none; }
        &.row-cols-xl-4 > .col { width: 25%; flex: none; }
        &.row-cols-xl-5 > .col { width: 20%; flex: none; }
        &.row-cols-xl-6 > .col { width: 16.6667%; flex: none; }
    }


    .col-1  { flex: 0 0 8.3333%; max-width: 8.3333%; }
    .col-2  { flex: 0 0 16.6666%; max-width: 16.6666%; }
    .col-3  { flex: 0 0 25%; max-width: 25%; }
    .col-4  { flex: 0 0 33.3333%; max-width: 33.3333%; }
    .col-5  { flex: 0 0 41.6666%; max-width: 41.6666%; }
    .col-6  { flex: 0 0 50%; max-width: 50%; }
    .col-7  { flex: 0 0 58.3333%; max-width: 58.3333%; }
    .col-8  { flex: 0 0 66.6666%; max-width: 66.6666%; }
    .col-9  { flex: 0 0 75%; max-width: 75%; }
    .col-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
    .col-11 { flex: 0 0 91.6666%; max-width: 91.6666%; }
    .col-12 { flex: 0 0 100%; max-width: 100%; }

    /* ====== Responsive Columns ====== */
    @container body (min-width: 576px) {
        .col-sm-1  { flex: 0 0 8.3333%; max-width: 8.3333%; }
        .col-sm-2  { flex: 0 0 16.6666%; max-width: 16.6666%; }
        .col-sm-3  { flex: 0 0 25%; max-width: 25%; }
        .col-sm-4  { flex: 0 0 33.3333%; max-width: 33.3333%; }
        .col-sm-5  { flex: 0 0 41.6666%; max-width: 41.6666%; }
        .col-sm-6  { flex: 0 0 50%; max-width: 50%; }
        .col-sm-7  { flex: 0 0 58.3333%; max-width: 58.3333%; }
        .col-sm-8  { flex: 0 0 66.6666%; max-width: 66.6666%; }
        .col-sm-9  { flex: 0 0 75%; max-width: 75%; }
        .col-sm-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
        .col-sm-11 { flex: 0 0 91.6666%; max-width: 91.6666%; }
        .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
    }

    @container body (min-width: 768px) {
        .col-md-1  { flex: 0 0 8.3333%; max-width: 8.3333%; }
        .col-md-2  { flex: 0 0 16.6666%; max-width: 16.6666%; }
        .col-md-3  { flex: 0 0 25%; max-width: 25%; }
        .col-md-4  { flex: 0 0 33.3333%; max-width: 33.3333%; }
        .col-md-5  { flex: 0 0 41.6666%; max-width: 41.6666%; }
        .col-md-6  { flex: 0 0 50%; max-width: 50%; }
        .col-md-7  { flex: 0 0 58.3333%; max-width: 58.3333%; }
        .col-md-8  { flex: 0 0 66.6666%; max-width: 66.6666%; }
        .col-md-9  { flex: 0 0 75%; max-width: 75%; }
        .col-md-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
        .col-md-11 { flex: 0 0 91.6666%; max-width: 91.6666%; }
        .col-md-12 { flex: 0 0 100%; max-width: 100%; }
    }

    @container body (min-width: 992px) {
        .col-lg-1  { flex: 0 0 8.3333%; max-width: 8.3333%; }
        .col-lg-2  { flex: 0 0 16.6666%; max-width: 16.6666%; }
        .col-lg-3  { flex: 0 0 25%; max-width: 25%; }
        .col-lg-4  { flex: 0 0 33.3333%; max-width: 33.3333%; }
        .col-lg-5  { flex: 0 0 41.6666%; max-width: 41.6666%; }
        .col-lg-6  { flex: 0 0 50%; max-width: 50%; }
        .col-lg-7  { flex: 0 0 58.3333%; max-width: 58.3333%; }
        .col-lg-8  { flex: 0 0 66.6666%; max-width: 66.6666%; }
        .col-lg-9  { flex: 0 0 75%; max-width: 75%; }
        .col-lg-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
        .col-lg-11 { flex: 0 0 91.6666%; max-width: 91.6666%; }
        .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
    }

    @container body (min-width: 1200px) {
        .col-xl-1  { flex: 0 0 8.3333%; max-width: 8.3333%; }
        .col-xl-2  { flex: 0 0 16.6666%; max-width: 16.6666%; }
        .col-xl-3  { flex: 0 0 25%; max-width: 25%; }
        .col-xl-4  { flex: 0 0 33.3333%; max-width: 33.3333%; }
        .col-xl-5  { flex: 0 0 41.6666%; max-width: 41.6666%; }
        .col-xl-6  { flex: 0 0 50%; max-width: 50%; }
        .col-xl-7  { flex: 0 0 58.3333%; max-width: 58.3333%; }
        .col-xl-8  { flex: 0 0 66.6666%; max-width: 66.6666%; }
        .col-xl-9  { flex: 0 0 75%; max-width: 75%; }
        .col-xl-10 { flex: 0 0 83.3333%; max-width: 83.3333%; }
        .col-xl-11 { flex: 0 0 91.6666%; max-width: 91.6666%; }
        .col-xl-12 { flex: 0 0 100%; max-width: 100%; }
    }
}



.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-flex {
    display: inline-flex;
}

.d-inline-block {
    display: inline-block;
}


