.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: color-mix(in srgb, black 75%, var(--transparent));
    justify-content: center;
    align-items: center;

    .modal-content-img {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--transparent);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.4s;
            animation-name: zoom;
            animation-duration: 0.4s;
        }

        img {
            @media (width <= 576px) {
                max-width: 95%;
            }
            @media (576px <= width <= 768px) {
                max-width: 90%;
            }
            @media (768px <= width <= 992px) {
                max-width: 85%;
            }
            @media (width >= 992px) {
                max-width: 80%;
            }
        }

        .modal-icon {
            color: var(--white);
            position: absolute;
            top: 1rem;
            right: 1rem;
            border-radius: var(--border-radius);
            border: 1px solid var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;

            &::after {
                content: "×";
            }
        }
    }

    .modal-content {
        overflow: auto;
        border-radius: var(--border-radius);
        position: relative;
        background-color: var(--white);
        animation-name: animate-from-top;
        animation-duration: 0.4s;

        @media (width <= 576px) {
            width: 95%;
        }
        @media (576px <= width <= 768px) {
            width: 90%;
        }
        @media (768px <= width <= 992px) {
            width: 70%;
        }
        @media (width >= 992px) {
            width: 50%;
        }

        .modal-icon {
            border-radius: var(--border-radius);
            border: 1px solid var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;

            &::after {
                content: "×";
            }
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--white);
            padding: 0.5rem 1rem;
        }

        .modal-body {
            padding: 1rem;
        }

        .modal-footer {
            padding: 0.5rem 1rem;
            background-color: var(--gray-medium);
            font-style: italic;
        }
    }
}


@keyframes animate-from-top {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}