.modal {
    padding: 2rem;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: color-mix(in srgb, var(--gray-1000) 75%, var(--transparent));
    justify-content: center;
    align-items: center;
    z-index: 500;

    .modal-content-img {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--transparent);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.4s;
            animation-name: zoom;
            animation-duration: 0.4s;
            width: 100%;

            @media (576px <=width <=768px) {
                width: 90%;
            }

            @media (768px <=width <=992px) {
                width: 70%;
            }

            @media (width >=992px) {
                width: 50%;
            }
        }
    }

    .modal-content {
        overflow: auto;
        border-radius: var(--border-radius);
        position: relative;
        background-color: var(--bg-color);
        animation-name: animate-from-top;
        animation-duration: 0.4s;
        width: 100%;

        @media (576px <=width <=768px) {
            width: 90%;
        }

        @media (768px <=width <=992px) {
            width: 70%;
        }

        @media (width >=992px) {
            width: 50%;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1rem;
        }

        .modal-body {
            padding: 1rem;
        }

        .modal-footer {
            padding: 0.5rem 1rem;
            background-color: var(--modal-footer-color);
            font-style: italic;
        }
    }
}