.navbar {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color-medium);
    border-radius: var(--border-radius);

    &.navbar-sm {
        @media (width < 576px) {

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .navbar-content {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: var(--gap-base);
                height: auto;

                &[data-expanded="true"] {
                    height: auto;
                }

                &[data-expanded="false"] {
                    height: 0;
                }

                .nav {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: var(--gap-base);

                    &:first-child {
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        @media (width >= 576px) {

            display: flex;
            align-items: center;
            gap: var(--gap-base);

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navbar-burger {
                    display: none;
                }
            }

            .navbar-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                gap: var(--gap-base);

                .nav {
                    display: flex;
                    flex-grow: 1;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    gap: var(--gap-base);

                    &.nav-start {
                        justify-content: flex-start;
                    }

                    &.nav-center {
                        justify-content: center;
                    }

                    &.nav-end {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    &.navbar-md {
        @media (width < 768px) {

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .navbar-content {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: var(--gap-base);
                height: auto;

                &[data-expanded="true"] {
                    height: auto;
                }

                &[data-expanded="false"] {
                    height: 0;
                }

                .nav {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: var(--gap-base);

                    &:first-child {
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        @media (width >= 768px) {

            display: flex;
            align-items: center;
            gap: var(--gap-base);

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navbar-icon {
                    display: none;
                }

                .container-burger-menu {
                    display: none;
                }
            }

            .navbar-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                gap: var(--gap-base);

                .nav {
                    display: flex;
                    flex-grow: 1;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    gap: var(--gap-base);

                    &.nav-start {
                        justify-content: flex-start;
                    }

                    &.nav-center {
                        justify-content: center;
                    }

                    &.nav-end {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    &.navbar-lg {
        @media (width < 992px) {

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .navbar-content {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: var(--gap-base);
                height: auto;

                &[data-expanded="true"] {
                    height: auto;
                }

                &[data-expanded="false"] {
                    height: 0;
                }

                .nav {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: var(--gap-base);

                    &:first-child {
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        @media (width >= 992px) {

            display: flex;
            align-items: center;
            gap: var(--gap-base);

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navbar-burger {
                    display: none;
                }
            }

            .navbar-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                gap: var(--gap-base);

                .nav {
                    display: flex;
                    flex-grow: 1;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    gap: var(--gap-base);

                    &.nav-start {
                        justify-content: flex-start;
                    }

                    &.nav-center {
                        justify-content: center;
                    }

                    &.nav-end {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    &.navbar-xl {
        @media (width < 1200px) {

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .navbar-content {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: var(--gap-base);
                height: auto;

                &[data-expanded="true"] {
                    height: auto;
                }

                &[data-expanded="false"] {
                    height: 0;
                }

                .nav {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: var(--gap-base);

                    &:first-child {
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        @media (width >= 1200px) {

            display: flex;
            align-items: center;
            gap: var(--gap-base);

            .navbar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navbar-burger {
                    display: none;
                }
            }

            .navbar-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-grow: 1;
                gap: var(--gap-base);

                .nav {
                    display: flex;
                    flex-grow: 1;
                    list-style: none;
                    justify-content: center;
                    align-items: center;
                    gap: var(--gap-base);

                    &.nav-start {
                        justify-content: flex-start;
                    }

                    &.nav-center {
                        justify-content: center;
                    }

                    &.nav-end {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }

    .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navbar:not(.navbar-sm):not(.navbar-md):not(.navbar-lg):not(.navbar-xl) {
    display: flex;
    align-items: center;
    gap: var(--gap-base);

    .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }

    .navbar-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap: var(--gap-base);

        .nav {
            display: flex;
            flex-grow: 1;
            list-style: none;
            justify-content: center;
            align-items: center;
            gap: var(--gap-base);

            &.nav-start {
                justify-content: flex-start;
            }

            &.nav-center {
                justify-content: center;
            }

            &.nav-end {
                justify-content: flex-end;
            }
        }
    }
}