:root {
    /* Colors */
    --gray-0: #ffffff;
    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    --gray-150: #efefef;
    --gray-200: #e5e5e5;
    --gray-250: #d9d9d9;
    --gray-300: #d4d4d4;
    --gray-350: #bbbbbb;
    --gray-400: #a3a3a3;
    --gray-450: #8b8b8b;
    --gray-500: #737373;
    --gray-550: #636363;
    --gray-600: #525252;
    --gray-650: #494949;
    --gray-700: #404040;
    --gray-750: #333333;
    --gray-800: #262626;
    --gray-850: #1e1e1e;
    --gray-900: #171717;
    --gray-950: #0b0b0b;
    --gray-1000: #000000;

    --primary-color: #8A4F7D;
    --secondary-color: #88A096;
    --success-color: #7BAE7F;
    --info-color: #6BAACD;
    --warning-color: #D9B74A;
    --danger-color: #C96A6A;
    --neutral-color: #BBBBBB;
    --dark-color: var(--gray-800);
    --light-color: var(--gray-200);

    --red: #FF0000FF;
    --transparent: transparent;

    --color-mix-dark: var(--gray-1000);
    --color-mix-light: var(--gray-0);

    --link-color: var(--text-color);
    --link-hover-color: color-mix(in srgb, var(--text-color) 50%, var(--transparent));

    --text-white: var(--gray-0);
    --text-black: var(--gray-1000);
    --text-light: var(--light-color);
    --text-dark: var(--dark-color);
    --text-color: var(--text-dark);

    --transparent-white: rgba(255, 255, 255, 0.1);
    --transparent-black: rgba(0, 0, 0, 0.1);
    --transparent-theme: var(--transparent-white);

    --border-color-light: var(--gray-150);
    --border-color-medium: var(--gray-300);
    --border-color-dark: var(--gray-500);

    --table-primary-color: color-mix(in srgb, var(--primary-color) 30%, var(--color-mix-light));
    --table-secondary-color: color-mix(in srgb, var(--secondary-color) 30%, var(--color-mix-light));
    --table-success-color: color-mix(in srgb, var(--success-color) 30%, var(--color-mix-light));
    --table-info-color: color-mix(in srgb, var(--info-color) 30%, var(--color-mix-light));
    --table-warning-color: color-mix(in srgb, var(--warning-color) 30%, var(--color-mix-light));
    --table-danger-color: color-mix(in srgb, var(--danger-color) 30%, var(--color-mix-light));
    --table-neutral-color: color-mix(in srgb, var(--neutral-color) 30%, var(--color-mix-light));
    --table-dark-color: color-mix(in srgb, var(--dark-color) 30%, var(--color-mix-light));
    --table-light-color: color-mix(in srgb, var(--light-color) 30%, var(--color-mix-light));
    --table-striped-bg-color: var(--gray-100);
    --table-border-color: var(--gray-100);
    --table-bg-hover-color: color-mix(in srgb, var(--gray-300) 25%, var(--transparent));

    --input-border-color: var(--gray-300);
    --input-bg-color: var(--gray-0);
    --input-placeholder-color: var(--gray-1000);
    --input-color: var(--gray-1000);
    --switch-bg-color: var(--gray-0);
    --switch-btn-color: var(--gray-300);
    --switch-border-color: var(--gray-300);

    --hover-color: color-mix(in srgb, var(--gray-300) 25%, var(--transparent));
    --active-color: var(--gray-500);
    --bg-color: var(--gray-0);
    --button-color: var(--gray-100);
    --card-footer-color: var(--gray-100);
    --modal-footer-color: var(--gray-100);

    --carousel-dot-bg-color: var(--gray-300);
    --carousel-dot-bg-color-active: var(--gray-500);
    --carousel-dot-bg-color-hover: var(--gray-500);
    --carousel-control-color: var(--gray-0);
    --carousel-control-color-hover: color-mix(in srgb, var(--gray-1000) 50%, var(--transparent));
    --carousel-text-number-color: var(--gray-0);

    --bg-color-code: var(--gray-50);
    --highlight-tag-color: #788492;
    --highlight-tag-name-color: #5642B8;
    --highlight-attribute-name-color: #D23069;
    --highlight-attribute-value-color: #52B0B2;
    --highlight-comment-color: #B3B1B7;
    --highlight-text-color: #788492;
    --highlight-equal-sign-color: #788492;

    --border-radius: .3rem;

    --gap-base: 2.5rem;

    --input-height-sm: 2.5rem;
    --input-height-md: 3rem;
    --input-height-lg: 3.5rem;

    --button-padding-sm: .55rem 1.1rem;
    --button-padding-md: 0.8rem 1.6rem;
    --button-padding-lg: 1.05rem 2.1rem;

    --badge-padding-sm: .2rem .4rem;
    --badge-padding-md: .4rem .8rem;
    --badge-padding-lg: .5rem 1rem;

    --table-padding-sm: .6rem;
    --table-padding-md: .8rem;
    --table-padding-lg: 1rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --font-size-h1: 4rem;
    --font-size-h2: 3.5rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2.5rem;
    --font-size-h5: 2rem;
    --font-size-h6: 1.5rem;

    --font-size-base: 1.2rem;

    --font-family-titre: "Montserrat", sans-serif;
    --font-family-text: "Open Sans", sans-serif;
}

.theme-dark {
    /* Colors */
    --primary-color: color-mix(in srgb, #8A4F7D 90%, black);
    --secondary-color: color-mix(in srgb, #88A096 90%, black);
    --success-color: color-mix(in srgb, #7BAE7F 90%, black);
    --info-color: color-mix(in srgb, #6BAACD 90%, black);
    --warning-color: color-mix(in srgb, #D9B74A 90%, black);
    --danger-color: color-mix(in srgb, #C96A6A 90%, black);
    --neutral-color: color-mix(in srgb, #BBBBBB 90%, black);
    --dark-color: var(--gray-800);
    --light-color: var(--gray-200);

    --color-mix-dark: var(--gray-0);
    --color-mix-light: var(--gray-1000);

    --link-color: var(--text-color);
    --link-hover-color: color-mix(in srgb, var(--text-color) 50%, var(--transparent));

    --text-white: var(--gray-0);
    --text-black: var(--gray-1000);
    --text-light: var(--light-color);
    --text-dark: var(--dark-color);
    --text-color: var(--text-light);

    --transparent-white: rgba(255, 255, 255, 0.1);
    --transparent-black: rgba(0, 0, 0, 0.1);
    --transparent-theme: var(--transparent-black);

    --border-color-light: color-mix(in srgb, var(--gray-400) 25%, var(--transparent));
    --border-color-medium: var(--gray-400);
    --border-color-dark: var(--gray-600);

    --table-primary-color: var(--primary-color);
    --table-secondary-color: var(--secondary-color);
    --table-success-color: var(--success-color);
    --table-info-color: var(--info-color);
    --table-warning-color: var(--warning-color);
    --table-danger-color: var(--danger-color);
    --table-neutral-color: var(--neutral-color);
    --table-dark-color: var(--dark-color);
    --table-light-color: var(--light-color);
    --table-striped-bg-color: var(--gray-700);
    --table-border-color: var(--gray-600);
    --table-bg-hover-color: color-mix(in srgb, var(--gray-300) 25%, var(--transparent));

    --input-border-color: var(--gray-600);
    --input-bg-color: var(--gray-600);
    --input-placeholder-color: var(--gray-0);
    --input-color: var(--gray-200);
    --switch-bg-color: var(--gray-600);
    --switch-btn-color: var(--gray-0);
    --switch-border-color: var(--gray-450);

    --hover-color: color-mix(in srgb, var(--gray-400) 25%, var(--transparent));
    --active-color: var(--gray-600);
    --bg-color: var(--gray-800);
    --button-color: var(--gray-200);
    --card-footer-color: var(--gray-600);
    --modal-footer-color: var(--gray-600);

    --carousel-dot-bg-color: var(--gray-400);
    --carousel-dot-bg-color-active: var(--primary-color);
    --carousel-dot-bg-color-hover: var(--gray-600);
    --carousel-control-color: var(--gray-0);
    --carousel-control-color-hover: color-mix(in srgb, var(--gray-1000) 50%, var(--transparent));
    --carousel-text-number-color: var(--gray-0);

    --bg-color-code: var(--gray-850);
    --highlight-tag-color: #8998B1;
    --highlight-tag-name-color: #8083F7;
    --highlight-attribute-name-color: #EC5997;
    --highlight-attribute-value-color: #73F6F8;
    --highlight-text-color: #8998B1;
    --highlight-comment-color: #5c678f;
    --highlight-equal-sign-color: #8998B1;
}