:root {
    /* Colors */
    --primary-color: #8A4F7D;
    --secondary-color: #88A096;
    --success-color: #7BAE7F;
    --info-color: #6BAACD;
    --warning-color: #D9B74A;
    --danger-color: #C96A6A;
    --neutral-color: #BBBBBB;
    --dark-color: #333333;
    --light-color: #e6e6e6;

    --white: #ffffff;
    --black: #000000;
    --red: #FF0000FF;
    --transparent: transparent;

    --gray-light: #F2F2F2;
    --gray-medium: #C4C4C4;
    --gray-dark: #6B6B6B;
    /* Colors components */
    --link-color: var(--primary-color);

    --text-white: var(--white);
    --text-black: var(--black);

    --color-mix-dark: var(--black);
    --color-mix-light: var(--white);

    --transparent-white: rgba(255, 255, 255, 0.1);
    --transparent-black: rgba(0, 0, 0, 0.1);

    --border-color-light: color-mix(in srgb, var(--gray-medium) 25%, var(--transparent));
    --border-color: var(--gray-medium);
    --border-color-dark: var(--gray-dark);


    --table-border-color: var(--gray-light);
    --input-border-color: var(--gray-medium);
    /*--hover-color: transparent;*/
    --hover-color: color-mix(in srgb, var(--gray-medium) 25%, var(--transparent));
    --active-color: var(--gray-dark);
    --bg-color: var(--white);
    --button-color: var(--gray-light);

    --border-radius: .3rem;

    --gap-base: 2.5rem;

    --input-height-sm: 2.5rem;
    --input-height-md: 3rem;
    --input-height-lg: 3.5rem;

    --button-padding-sm: .55rem 1.1rem;
    --button-padding-md: 0.8rem 1.6rem;
    --button-padding-lg: 1.05rem 2.1rem;

    --badge-padding-sm: .2rem .4rem;
    --badge-padding-md: .4rem .8rem;
    --badge-padding-lg: .5rem 1rem;

    --table-padding-sm: .6rem;
    --table-padding-md: .8rem;
    --table-padding-lg: 1rem;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    --font-size-h1: 4rem;
    --font-size-h2: 3.5rem;
    --font-size-h3: 3rem;
    --font-size-h4: 2.5rem;
    --font-size-h5: 2rem;
    --font-size-h6: 1.5rem;

    --font-size-base: 1.2rem;

    --font-family-titre: "Montserrat", sans-serif;
    --font-family-text: "Open Sans", sans-serif;
}