table {
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
    width: 100%;

    thead {
        tr {
            th, td {
                border-top: 1px solid var(--table-border-color);
                text-align: left;
                padding: var(--table-padding-md);
                text-wrap: nowrap;
            }
        }
    }

    tbody {
        tr {
            th, td {
                border-top: 1px solid var(--table-border-color);
                text-align: left;
                padding: var(--table-padding-md);
                text-wrap: nowrap;
            }
        }
    }

    tfoot {
        tr {
            th, td {
                border-top: 1px solid var(--table-border-color);
                text-align: left;
                padding: var(--table-padding-md);
                text-wrap: nowrap;
            }
        }
    }

    &.table-sm {
        thead,
        tbody,
        tfoot {
            tr {
                th, td {
                    padding: var(--table-padding-sm);
                }
            }
        }
    }

    &.table-md {
        thead,
        tbody,
        tfoot {
            tr {
                th, td {
                    padding: var(--table-padding-md);
                }
            }
        }
    }

    &.table-lg {
        thead,
        tbody,
        tfoot {
            tr {
                th, td {
                    padding: var(--table-padding-lg);
                }
            }
        }
    }

    &.table-borderless {
        border: none !important;

        thead,
        tbody,
        tfoot {
            tr {
                th, td {
                    border: none !important;
                }
            }
        }

        &.table-hover {
            tbody {
                tr:hover {
                    cursor: pointer;
                    background-color: var(--table-bg-hover-color) !important;

                    th:first-child, td:first-child {
                        border: none !important;
                    }

                    th:last-child, td:last-child {
                        border: none !important;
                    }

                    th, td {
                        border: none !important;
                    }
                }
            }
        }
    }

    &.table-bordered {
        thead,
        tbody,
        tfoot {
            tr {
                th, td {
                    border-top: 1px solid var(--table-border-color) !important;
                    border-bottom: 1px solid var(--table-border-color) !important;
                    border-left: 1px solid var(--table-border-color) !important;
                    border-right: 1px solid var(--table-border-color) !important;
                }
            }
        }
    }

    &.table-hover {
        tbody {
            tr:hover {
                cursor: pointer;
                background-color: var(--table-bg-hover-color) !important;

                th:first-child, td:first-child {
                    border-left: 1px solid var(--table-border-color) !important;
                }

                th:last-child, td:last-child {
                    border-right: 1px solid var(--table-border-color) !important;
                }

                th, td {
                    border-top: 1px solid var(--table-border-color) !important;
                    border-bottom: 1px solid var(--table-border-color) !important;
                }
            }
        }
    }
}

.table-responsive {
    overflow-x: auto;
}