.text-start {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.border-radius {
    border-radius: var(--border-radius);
}

.no-scroll {
    overflow: hidden;
}

.list-style-none {
    list-style: none;
}

.nav-item {
    margin: 0;
    list-style: none;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: .75rem 1.5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
    }
}

