.text-start {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.border {
    border: 1px solid var(--border-color-medium);
    border-radius: var(--border-radius);
}

.border-radius {
    border-radius: var(--border-radius);
}

.no-scroll {
    overflow: hidden;
}

.list-style-none {
    list-style: none;
}

.fit-content {
    width: fit-content;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    top: 0;
    position: sticky;
    overflow: hidden;
    z-index: 1000;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-hover-opacity {
    transition: 0.3s ease;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}