.text-start {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.border-radius {
    border-radius: var(--border-radius);
}

.no-scroll {
    overflow: hidden;
}

.list-style-none {
    list-style: none;
}
.fit-content {
    width: fit-content;
}